*.log
.DS_Store
.env
.env.backup
.env.production
.env.*.local
.env.local
.env.testing
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/npm-debug.log*
/yarn-debug.log*
/yarn-error.log*
/pnpm-debug.log*
/public/build
/public/hot
/public/storage
/public/.vite
/public/mix-manifest.json
/storage/*.key
/storage/pail
/storage/logs/*.log
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
/bootstrap/cache/*.php
/vendor
/coverage
/clover.xml
Homestead.json
Homestead.yaml
Thumbs.db
